In [1]:
#=================================================================
# THIS NOTEBOOK REDUCES THE crop_recommendation. Dataset TO THE DESIRED INFORMATION
#=================================================================

import pandas as pd

In [2]:
crops = pd.read_csv("Crop_recommendation.csv")
display(crops.head())
display(crops.columns)

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

Index(['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall', 'label'], dtype='object')

In [3]:
#Drop unnecessary columns
crops_reduced = crops.drop(columns=['N', 'P', 'K', 'ph'])

display(crops_reduced.head()

#Data Analysis

print("\nCROPS SHAPE")
display(crops_reduced.shape)

print("\nDATA TYPES")
display(crops_reduced.dtypes)

print("\nMISSING")
display(crops_reduced.isnull().sum())

print("\nDUPLICATES")
display(crops_reduced.duplicated().sum())

crops_reduced.to_csv("crops_reduced.csv", index=False)

   temperature   humidity    rainfall label
0    20.879744  82.002744  202.935536  rice
1    21.770462  80.319644  226.655537  rice
2    23.004459  82.320763  263.964248  rice
3    26.491096  80.158363  242.864034  rice
4    20.130175  81.604873  262.717340  rice

CROPS SHAPE

(2200, 4)

DATA TYPES

temperature    float64
humidity       float64
rainfall       float64
label           object
dtype: object

MISSING

temperature    0
humidity       0
rainfall       0
label          0
dtype: int64

DUPLICATES

np.int64(0)

The result is data with no duplicates or missing values. Irrelevant columns have been dropped as well.